.container-header {
    background-color: #292929;
    color: white;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 23px;
}