.lbl {
    padding-right: 13px;
    color: white;
    font-family: Nunito;
}

.container-encryption-key>.input {
    width: 320px;
    height: 30px;
    margin-top: 7px;
    padding-right: 5px;
    color: white;
    font-weight: bold;
}

.input-file {
    padding-left: 30px;
}

.container-encryption-key {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    padding-bottom: 35px;
    align-items: center;
}

.container-input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container.file {
    padding-top: 20px;
}